<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        {{>header}}
        <p>The give page couldnot be found. Please navigate to any of the links above</p>
        {{>footer}}
    </body>
</html>